.why-choose-one__img {
  margin-bottom: 30px;
  text-align: center;
}
.why-choose-one__img img {
  max-width: 350px;
  width: 100%;
  height: auto;
  display: inline-block;
}
@media (max-width: 991px) {
  .why-choose-one__img {
    margin-bottom: 20px;
  }
  .why-choose-one__img img {
    max-width: 70vw;
  }
}
.why-choose-one .container, .why-choose-one .row, .why-choose-one__left, .why-choose-one__right {
  position: relative;
  z-index: 3;
} 