.why-choose-one__img {
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
}
.why-choose-one__img img {
  max-width: 400px;
  width: 100%;
  height: auto;
  display: inline-block;
}
@media (max-width: 991px) {
  .why-choose-one__img {
    margin-bottom: 28px;
    margin-top: 18px;
  }
  .why-choose-one__img img {
    max-width: 80vw;
  }
}
.why-choose-one .container, .why-choose-one .row, .why-choose-one__left, .why-choose-one__right {
  position: relative;
  z-index: 3;
} 