.why-choose-one__img {
  position: relative;
  left: 0;
  bottom: 0;
  z-index: 10;
  transform: none;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 24px auto;
}

.why-choose-one__img img {
  width: 100%;
  max-width: 350px;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .why-choose-one .row {
    display: block !important;
  }
  .why-choose-one__img {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    margin: 0 auto 24px auto;
    display: block;
    z-index: 1;
  }
  .why-choose-one__img img {
    max-width: 80vw;
    width: 100%;
    height: auto;
    margin: 0 auto 24px auto;
    display: block;
    position: relative;
    z-index: 1;
  }
  .why-choose-one__left {
    min-height: unset;
    margin-top: 0;
    padding-top: 0;
  }
} 